<div class="search">
  <form #form="ngForm" (submit)="onSubmit()">
    <input
      type="text"
      placeholder="Search localization"
      name="city"
      [(ngModel)]="initialCityName"
    />

  <span (click)="onSubmit()">
    <fa-icon
    animation="fade"
    style="--fa-animation: 5s; cursor: pointer;"
    size="lg"
    class="search-icon"
    [icon]="searchIcon"
    >

    </fa-icon>

  </span>
</form>

</div>

<app-weather-card *ngIf="weatherData" [weatherDataInput]="weatherData"></app-weather-card>
